.login-wrapper {
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .left-section {
    gap: 2rem;

    .form-control {
      display: flex;
      flex-direction: column;
      gap: .65rem;
    }
  }

}
