.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;

  div:nth-child(1){
    color: #213F7D;
  }

  .selectContainer {
    position:  relative;
    display: inline-block;
    
    .select {
      width: 100%;
      padding: .6rem 2.5rem;
      padding-left: .9rem;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #213F7D1A;
      outline: none;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      color: #213F7D;
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: .5rem;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }

  .pageNumbers {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
      padding: 0.5rem 0.75rem;
      border: none;
      background: none;
      color: #545f7d;
      cursor: pointer;

      &.active {
        background: rgba(33, 63, 125, 0.1);
        color: #213f7d;
        border-radius: 4px;
      }

      &.prev,
      &.next {
        background: #213f7d1a;
        border-radius: 4px;
        display: inline-block;
        padding: 0.1rem;
      }

      &:hover:not(.active) {
        background: rgba(33, 63, 125, 0.05);
      }
    }
  }
}
